<header>

  <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
  
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #f8f8f8;">
    <div class="container-fluid">
      <a style="font-size: 18px; font-family:'Poppins';" class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-item nav-link" id="home" href="/">Home</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-item nav-link" id="blog" href="/blog">Blog</a>
          </li> -->
          <li class="nav-item">
            <a class="nav-item nav-link" id="about" href="/projects">Projects</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" id="about" href="/library">Library</a>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" id="about" href="/about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-item nav-link" id="wall" href="/wall">Wall</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>
  <br />

</header>
