<header>

  <!-- <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a> -->
  
  <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #fafafa;">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-item nav-link" id="home" href="/">Home</a>
          </li> -->
          <!-- <li class="nav-item">
            <a class="nav-item nav-link" id="blog" href="/blog">Blog</a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Projects
            </a>
            <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
              <li><a class="dropdown-item" href="https://github.com/nazdash/crypto/blob/main/simple_rsa.py" target="_blank">RSA</a></li>
              <li><a class="dropdown-item" href="https://github.com/nazdash/crypto/blob/main/simple_amm.py" target="_blank">AMM</a></li>
              <!-- <li><hr class="dropdown-divider"></li> -->
              <li><a class="dropdown-item" href="https://unit.app">Unit</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-item nav-link" id="about" href="/about">About</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-item nav-link" id="wall" href="/wall">Wall</a>
          </li> -->
        </ul>
      </div>
    </div>
  </nav>

  <br />

</header>
